@media print 
{
    .new-page { page-break-after: always; }
}

.new-page {
}

.new-page hr {
  border: dashed 1px #aaa; 
}

.invisible {
  display: none;
}

.extra-space, .extra-space-invisible {
  margin-bottom: 50px;
}

.extra-space hr {
  border: dashed 1px #ddd; 
}

.extra-space-invisible hr {
  border: dashed 1px #fff; 
}

.action-item {
  border: solid 2px #FFAB34;
  background: #FFEACC;
  color: #492B00;
  padding: 10px;
  margin: 50px;
}

code {
  padding: 1px;
  margin: 2px;
  background: #ffff55;
  border: solid 1px #aaaa55;
  border-radius: 5px;
  color: #000;
}

.org-dl code {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-family: inherit;
}

pre span {
  background: #f2f2f2 !important;
}

.hint {
  border: solid 2px #003275;
  background: #9DCFFF;
  color: #003275;
  padding: 5px;
  margin: 50px;
  font-size: 11pt;
}

.console, .src-bash, .src-terminal {
  background: #333;
  color: #fff;
  padding: 10px;
}

.textfile {
  background: #fff;
  color: #000;
  padding: 10px;
}

img {
  border: solid 1px #eee;
  max-width: 100%;
}

blockquote {
  padding: 20px;
  border-left: solid 5px #aaa;
  background: #eee;
}

table { 
  margin: 20px auto; 
  table-layout: fixed;
}

table td, table th {
  display: table-cell;
}

table.col-6 td {
  width: 16%;
  text-align: center !important;
}

table.col-7 td {
  width: 14%;
  text-align: center !important;
}

table.highlight-col-1 tr th:nth-child(1),
table.highlight-col-1 tr td:nth-child(1) {
  background: #a1d9ff;
}

table.highlight-col-2 tr th:nth-child(2),
table.highlight-col-2 tr td:nth-child(2) {
  background: #a1d9ff;
}

table.highlight-col-3 tr th:nth-child(3),
table.highlight-col-3 tr td:nth-child(3) {
  background: #a1d9ff;
}

table.highlight-col-4 tr th:nth-child(4),
table.highlight-col-4 tr td:nth-child(4) {
  background: #a1d9ff;
}

table.highlight-col-5 tr th:nth-child(5),
table.highlight-col-5 tr td:nth-child(5) {
  background: #a1d9ff;
}

table.highlight-col-6 tr th:nth-child(6),
table.highlight-col-6 tr td:nth-child(6) {
  background: #a1d9ff;
}

table tr td:nth-of-type( even ),
table tr th:nth-of-type( even ) {
  background: #E8E8E8;
  color: #000;
}

table.uml {
  border: solid 1px #000;
  background: #FFF0B2;
  font-family: monospace;
  font-size: 10pt;
}

table.uml tr td:nth-of-type( even ),
table.uml tr th:nth-of-type( even ) {
  background: #FFF0B2;
}

table.uml td, table.uml th {
}

table.uml code {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

.clear-both {
  clear:both;
}

.left-side {
  float: left;
  width: 45%;
}

.right-side {
  float: right;
  width: 45%;
}

.left-side img,
.right-side img {
  width: 100%;
}

.outline-2 ul li,
.outline-2 ol li {
	margin-bottom: 10px;
}
